@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Cabin+Sketch:wght@400;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Handjet:wght@100;200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3px 50px;
  z-index: 1000;
  overflow: hidden;
}
.header-bg {
  background-color: #232323;
  transition: 0.3s;
  box-shadow: 0px 1px 5px rgb(51, 50, 50);
  animation: navbar 2s;
}
@keyframes navbar {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}
@media (max-width: 600px) {
  .header-bg {
    animation: none !important;
    overflow: hidden;
  }
}
a.active {
  color: rgb(94, 255, 0) !important;
}
.logo {
  font-family: "Cabin Sketch", cursive;
}
.download {
  border: 1px solid white;
  border-radius: 30px;
  background-color: transparent;
}

@media (max-width: 600px) {
  .header {
    padding: 5px 21px;
  }
}
